# DON'T FORGET TO COPY THIS FILE TO Test.conf.ini
[Global]
# Logging level
# Valid: 1-50
loggingLevel=10
# proxy_http=http://someserver.local:3128
# Doesn't actually work atm - urllib doesn't support using
# https and a proxy at the same time. 
# proxy_https=http://someserver.local:3128

# The max number of boards/pages/posts/etc to download when doing 
# recursive operations to find valid boards->pages->threads->etc
[RecursiveOptions]
MaxBoards=2
MaxPages=1
MaxThreads=2
MaxPosts=5

